/* Styles */

body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

p {
    font-size: 13px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;

}
/* HEADER */

.header {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    color: #e5e7eb;
    background-color: #1F2937;
    width: 80vw;
    margin: 0px;
    align-items: center;
}

.header-logo {
    flex: auto;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    padding-left: 100px;
}

.header-links {
    display: flex;
    flex:1;
    list-style-type: none;
    gap: 15px;
    justify-content: flex-end;
    padding-right: 100px;
}

/* HEADER-CONTENT */

.header-content {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: #e5e7eb;
    background-color: #1F2937;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.header-content-field {
    color: #f9faf8;
    display: flex;
    flex: 0 0 355px;
    height: 30vh;
    padding-left: 100px;
    align-items: center;
    flex-wrap: wrap;
    width:25%;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 3px 5px 3px 5px;
    margin-top:10px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.image-container{
    flex: 0 1 425px;
    justify-content: center;
    background-color: #e5e7eb;
    border-radius: 5px;
    box-shadow: inset 3px 3px 6px;
    height:177px;
    margin-right: 100px;
    box-shadow: 2px 2px 5px rgb(113, 113, 113);
}

/* CONTENT */

.content-title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 80vw;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height:40px;
}

.content {
    display: flex;
    background-color: white;
    justify-content: center;
    gap:50px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 80vw;
}

.content-field {
    flex: 0 0 12vw;
    aspect-ratio: 1/1;
    border: 2px solid #3882f6;
    border-radius: 5px 10px 5px 10px;
    box-shadow: 10px 10px 6px #e5e7eb;
}